{% extends 'base.html' %}
{% block content %}

<div class="topbox">
    <span class="box-title">ボス情報</span>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>名前</th>
                <th>HP</th>
                <th>凸数目安</th>
            </tr>
        </thead>
        <tbody>
            {% for b in boss %}
                <tr>
                    <td><a href="/clanbattle/update_boss/{{b.boss_id}}">{{b.boss_name}}</td>
                    <td>{{b.max_hit_point}}</td>
                    <td>{{b.target}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="topbox">
    <span class="box-title">現在のボス</span>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>名前</th>
                <th>残りHP</th>
            </tr>
        </thead>
        <tbody>
            {% for b in current_boss %}
                <tr>
                    <td><a href="/clanbattle/update_current_boss/{{b.id}}">{{b.boss.boss_name}}</td>
                    <td>{{b.hit_point}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
