table.attack_log {
    width: 1000px;
    margin-left:  auto;
    margin-Right: auto;
}

h1 {
  margin-top: 0;
  padding: 10px;
  font-size: 35px;
  background-color: #00ced1;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 8px #777;
  text-shadow: 1px 1px 1px #777;
}

body {
    width: 900px;
    margin-left:  auto;
    margin-right: auto;
}

table {
    margin: 1em 0;
    text-align:center;
}


.topbox {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #95ccff;
    border-radius: 6px;
}

.topbox .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.topbox .title {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.topbox .summary {
    font-size: 14px;
    margin: 0;
}
