{% load static %}
<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>chat-rate toybox</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>
        <span><a class="no-color-change" href="/">麦シュワ〜〜</a></span>
    </h1>
    {% block content %}
    {% endblock %}
</body>
</html>
